@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&display=swap');

html {
    --border-radius: .5rem;
    --border-color: #7a33ee;
    --border-conf: .0625rem solid var(--border-color);
    --default-text-size: clamp(.95rem, 4vw + .1rem, 1.2rem);
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    height: auto;

    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-size: var(--default-text-size);

    word-break: break-word;
    hyphens: auto;

}

.wrapper {

    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
    width: 50rem;
    padding: 0 .625rem;
}

.search__form {
    --padding: .25rem;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .3rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem .1875rem .5rem;
    border-radius: var(--border-radius);
    padding: 1.25rem 0;
}

.search__title {
    visibility: hidden;
}

.search__container {
  
    position: relative;
    display: flex;
    border: var(--border-conf);
    border-radius: var(--border-radius);
    background-color: #e8e8e8;
    align-items: center;
    min-height: 30px;
   /*  padding: var(--padding); */

}

.search__container:hover {
    box-shadow: 0 0 .1875rem rgba(122, 51, 238, 0.75);
    background: #fff;
    border-color: var(--border-color);
    transition: border-color .3s;

}

.search__container:hover .search__label {
    text-shadow: 0 0 .1875rem rgba(129, 140, 248, 0.4);
    transition: text-shadow .3s;

}

.search__label {
    cursor: pointer;
    font-size: .80em;
    font-weight: 500;
    color: #818cf8;
    background: none;
    position: absolute;
    left: .0625rem;
    top: -1.0625rem;
    left: 2.1875rem;
}

.search__input {
    padding: var(--padding);
    border-radius: var(--border-radius);
    width: clamp(16.25rem, 90vw - 1.25rem, 24.6875rem);
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
}

.search__input::placeholder {
    font-size: .75em;
    font-style: italic;
}

.search__icon {
    color: rgba(0, 0, 0, 0.5);
    display: flex 1 1;
}


.search__button {
    padding: var(--padding);
    min-width: 4.6875rem;
    min-height: 30px;
    border-radius: var(--border-radius);
    background: #f0f0f0;
    border: var(--border-conf);

}

.search__button:hover {
    box-shadow: 0 0 .1875rem rgba(122, 51, 238, 75);
    background: #fff;
    border-color: var(--border-color);
    transition: border-color .3s;

}

#scanButton:disabled {
    cursor: not-allowed;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, var(--border-color) 49.9%, var(--border-color) 60%, rgba(0, 0, 0, 0) 60%) fixed,
        linear-gradient(45deg, var(--border-color) 10%, rgba(0, 0, 0, 0) 10%) fixed;
    background-size: 0.5em 0.5em;
}

.barcode-scanner {
    width: clamp(17.5rem, 100vw - .625rem, 26.25rem);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition:
        max-height .5s ease,
        opacity .5s ease,
        transform .5s ease;
    margin: .625rem auto;
}

.barcode-scanner.active {
    max-height: 18.75rem;
    opacity: 1;
    transform: scaleY(1);
}

.barcode-scanner__container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.barcode-scanner__video {
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c7;
    box-shadow: 0 0 1.625rem rgba(0, 0, 0, 0.1);
}

.product-list {
    display: grid;
    gap: .9375rem;
    grid-template-columns: repeat(auto-fit, 15.625rem);
    align-items: center;
    justify-content: center;
}

.product-list .product-card__image {
    width: 6.25rem;
    height: 12.5rem;
}


.product-list .product-card__content {
    transition:
        transform 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out;
    min-height: 2.5rem;

}

.product-list .product-card__content:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.30) 0rem .375rem .75rem;
}


.product-list .product-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.2rem, 3vw + .2rem, 1.3rem);
    min-height: 5.875rem;
}

.product-list .product-card__info {
    min-height: 6.25rem;
}


.product-card {
    max-width: 100%;
    margin: 0 auto;
}

.product-card__title {
    font-size: clamp(1.2rem, 3vw + .2rem, 1.5rem);
    flex: 100%;
    text-align: left;
}

.product-card__content {
    min-width: 15.625rem;
    padding: .625rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0rem .1875rem .5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    gap: .8125rem;
}

.product-card__image {
    max-width: 100%;
    height: auto;
    flex: 1 1 25rem;
    max-height: 25rem;
    object-fit: contain;
    border: var(--border-conf);
    border-radius: var(--border-radius);
}

.product-card__info {
    flex: 1 1 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-card__barcode,
.product-card__manufacturer,
.product-card__url,
.product-card__volume {
    margin-bottom: .25rem;
}

.product-card__barcode,
.product-card__manufacturer,
.product-card__volume {
    font-weight: 500;

}

.product-card__barcode span,
.product-card__manufacturer span,
.product-card__volume span {
    font-weight: normal;
    color: inherit;
}

.product-card__barcode .highlight-text {
    font-weight: 500;
    color: crimson;
}

.product-card__url {
    display: block;
    color: #818cf8;
    text-decoration: none;
    order: 1;
}

.product-card__url:hover {
    text-decoration: underline;
}

.error {
    color: crimson;
    text-align: center;
}

.drawingBuffer {
    display: none;
}